# 忽略 data 目录下的所有内容
train/train_data/
train/models_basellama2/
train/models_cometllama2/
train/models_mainllama2/
train/models_randomllama2/
train/models_cometlen_lama2/
train/models_trilen_lama2/

train/models_basellama3/
train/models_cometllama3/
train/models_mainllama3/
train/models_randomllama3/
train/models_cometlen_lama3/
train/models_trilen_lama3/

# 忽略所有大模型和optimizer.pt文件
train/models_trilen_lama2/checkpoint-312/optimizer.pt
train/models_trilen_lama2/checkpoint-312/adapter_model.safetensors
train/models_trilen_lama2/checkpoint-200/optimizer.pt
train/models_trilen_lama2/checkpoint-200/adapter_model.safetensors
train/models_trilen_lama2/adapter_model.safetensors
train/models_cometlen_lama2/adapter_model.safetensors
train/models_mainllama2/adapter_model.safetensors
train/models_cometlama2/adapter_model.safetensors
train/models_cometllama2/adapter_model.safetensors
train/models_randomllama2/adapter_model.safetensors
train/models_basellama3/adapter_model.safetensors
train/models_trilen_lama3/checkpoint-312/optimizer.pt
train/models_trilen_lama3/checkpoint-312/adapter_model.safetensors
train/models_trilen_lama3/checkpoint-200/optimizer.pt
train/models_trilen_lama3/checkpoint-200/adapter_model.safetensors
train/models_trilen_lama3/adapter_model.safetensors
train/models_cometlen_lama3/adapter_model.safetensors
train/models_mainllama3/adapter_model.safetensors
train/models_randomllama3/adapter_model.safetensors
train/models_cometllama3/adapter_model.safetensors
train/models_basellama2/adapter_model.safetensors
key_data/llama2/key_with_sent_all.json
key_data/llama3/key_with_sent_all.json